<?xml version="1.0" encoding="utf-8"?>
<Config>
	<Settings StartLocation="Room1"/>
	<Items>
		<Item Name="Disabled lamp">
			<Actions>
				<Action Name="Turn on lamp">
					<Conditions>
						<Have Item="Oil"/>
					</Conditions>
					<Results>
						<Spend Item="Disabled lamp"/>
						<Give Item="Enabled lamp"/>
						<Text>
							<Value>Now your lamp produces light!</Value>
						</Text>
					</Results>
				</Action>
			</Actions>
		</Item>
		<Item Name="Oil"/>
	</Items>
	<Locations>
		<Location Name="Room1">
			<Description>You're in the strange unpleasant place: dirty brick walls and two old wooden doors.</Description>
			<Actions>
				<Action Name="Go to the left door" Single="false">
					<Results>
						<Go To="Room2"/>
					</Results>
				</Action>
				<Action Name="Go to the right door" Single="false">
					<Results>
						<Go To="Room3"/>
					</Results>
				</Action>
				<Action Name="Take the key">
					<Description>You see a key on a floor.</Description>
					<HiddenDescription>You can't see properly here - it's too dark.</HiddenDescription>
					<Conditions>
						<Have Item="Enabled lamp"/>
					</Conditions>
					<Results>
						<Give Item="Bronze key"/>
					</Results>
				</Action>
			</Actions>
		</Location>
		<Location Name="Room2">
			<Description>It's a small room with a carpet on a wall, chest and table.</Description>
			<Actions>
				<Action Name="Go to the corridor" Single="false">
					<Results>
						<Go To="Room1"/>
					</Results>
				</Action>
				<Action Name="Inspect the carpet">
					<Results>
						<Text>
							<Value>Only dust behind the carpet.</Value>
						</Text>
					</Results>
				</Action>
				<Action Name="Inspect the chest">
					<Conditions>
						<Have Item="Bronze key"/>
					</Conditions>
					<Results>
						<Text>
							<Value>You have unlocked this chest with your key. Here you have found another key.</Value>
						</Text>
						<Take Item="Bronze key"/>
						<Give Item="Steel key"/>
					</Results>
					<HiddenResults>
						<Text>
							<Value>It's locked. This big bronze chest is unbreakable with your hands.</Value>
						</Text>
					</HiddenResults>
				</Action>
				<Action Name="Inspect the table">
					<Description>You see a table with something on top of it.</Description>
					<Results>
						<Give Item="Lamp oil"/>
					</Results>
				</Action>
			</Actions>
		</Location>
		<Location Name="Room3">
			<Description>This place looks like prison - steel door with bars and darkness at the other side.</Description>
			<Actions>
				<Action Name="Go to the corridor" Single="false">
					<Results>
						<Go To="Room1"/>
					</Results>
				</Action>
				<Action Name="Open the door">
					<Results>
						<Text>
							<Value>Now you can go to the other side. Good luck!</Value>
						</Text>
						<Take Item="Steel key"/>
						<GameOver/>
					</Results>
					<HiddenResults>
						<Text>
							<Value>Door is locked.</Value>
						</Text>
					</HiddenResults>
				</Action>
				<Action Name="Take the lamp">
					<Description>You see a lamp attached to the wall.</Description>
					<Results>
						<Give Item="Disabled lamp"/>
					</Results>
				</Action>
			</Actions>
		</Location>
	</Locations>
</Config>